[submodule "uboot"]
	path = u-boot-xlnx
	url = https://github.com/Xilinx/u-boot-xlnx.git
[submodule "device-tree"]
	path = device-tree-xlnx
	url = https://github.com/Xilinx/device-tree-xlnx.git
[submodule "linux"]
	path = linux-xlnx
	url = https://github.com/Xilinx/linux-xlnx.git
[submodule "embeddedsw"]
	path = embeddedsw
	url = https://github.com/Xilinx/embeddedsw.git
