/dts-v1/;
#include <dt-bindings/gpio/gpio.h>
#include "zynq-7000.dtsi"
#include "pcw.dtsi"

/ {
    model = "Joker ZYNQ SPI Project";

    aliases {
        eth0    = &gem0;
        serial0 = &uart0;
        qflash  = &qspi;
    };

    memory {
		device_type = "memory";
		reg = <0x0 0x40000000>;
	};

    leds {
        compatible = "gpio-leds";

        ps-led {
            label = "ps-led";
            gpios = <&gpio0 0 GPIO_ACTIVE_HIGH>;
            linux,default-trigger = "heartbeat";
        };

        ps-led0 {
            label = "0-ps-led";
            gpios = <&gpio0 7 GPIO_ACTIVE_HIGH>;
            default-state = "on";
        };

        ps-led1 {
            label = "1-ps-led";
            gpios = <&gpio0 8 GPIO_ACTIVE_HIGH>;
            default-state = "on";
        };
    };

    keys {
        compatible = "gpio-keys";
        autorepeat;

        ps-key0 {
			label = "0-ps-key";
			gpios = <&gpio0 12 GPIO_ACTIVE_LOW>;
			linux,code = <103>; // Up
			debounce-interval = <20>;
		};

		ps-key1 {
			label = "1-ps-key0";
			gpios = <&gpio0 11 GPIO_ACTIVE_LOW>;
			linux,code = <108>; // Down
			debounce-interval = <20>;
		};
    };
};

&gem0 {
	phy-handle = <&ethernet_phy>;
    local-mac-address = [00 0a 35 00 1e 53];
    ethernet_phy: ethernet-phy@1 {          /* yt8521*/
		reg = <0x7>;
		device_type = "ethernet-phy";
	};
};

&uart0 {
	u-boot,dm-pre-reloc;
};

&sdhci0 {
	u-boot,dm-pre-reloc;
};

&qspi {
	u-boot,dm-pre-reloc;
    flash0: flash@0 {
        compatible = "n25q512a","micron,m25p80";
        reg = <0x0>;
        #address-cells = <1>;
        #size-cells = <1>;
        spi-max-frequency = <50000000>;
        partition@0 {
            label = "boot";
            reg = <0x00000000 0x00500000>;
        };
        partition@500000 {
            label = "bootenv";
            reg = <0x00500000 0x00020000>;
        };
        partition@520000 {
            label = "kernel";
            reg = <0x00520000 0x00a80000>;
        };
        partition@fa0000 {
            label = "spare";
            reg = <0x00fa0000 0x00000000>;
        };
    };
};
